<app-toolbar-menu></app-toolbar-menu>
<div class="container" *ngFor="let p of lampes; let i=index;">

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{p.name}}</mat-card-title>
      <mat-card-subtitle>{{p.piece}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-slider
        thumbLabel
        tickInterval="1"
        value={{p.intensity}}
        (change)="sliderChange($event, p)">
      </mat-slider>
      <input type="color" [(colorPicker)]="color1" name="color1">

    </mat-card-content>
  </mat-card>
</div>
