<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-auth">
      <mat-card-header>
        <div><mat-icon>vpn_key</mat-icon></div>
        <mat-card-title>Authentification</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="authentification-form">
          <mat-form-field class="authentification-full-width">
            <input matInput placeholder="Utilisateur" value="">
          </mat-form-field>

          <mat-form-field class="authentification-full-width">
            <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Se connecter</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
