.example-card {
  width: 10em;
  height: 10em;
  margin : 0.5em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#home {
  margin-top: 1em;
}

.home-indicators {
  font-size: xx-large;
  text-align: center;
}

.home-group {
  margin: 0.5em;
}
